{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>{{iu1}}<strong>user#02</strong></h2>
</div>
<p>
    {{iu3}}<strong>87615776</strong><br />
    <strong>{{iu4}}</strong><br /> <br />
    {{num}}<strong>{{num2}}</strong><br />
    {{iu5}}<strong>11:00</strong><br />
    {{iu6}}<strong>15:00</strong><br /><br />
    {{num}}<strong>{{num3}}</strong><br />
    {{iu5}}<strong>16:00</strong><br />
    {{iu6}}<strong>19:00</strong><br /><br />
    {{num}}<strong>{{num2}}</strong><br />
    {{iu5}}<strong>22:00</strong><br />
    {{iu6}}<strong>9:00</strong><br /><br />
    <a href="userinfo" class="btn btn-default">{{iu2}} &raquo;</a>
    <br />
</p>

        {% endblock %}