{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2><strong>{{iu1}}</strong></h2>
</div>
<p>
    {{iu2}}<strong>user#01</strong><br />
    {{iu3}}<strong>17651467</strong><br />
<a href="usertest" class="btn btn-primary btn-large">{{iu4}} &raquo;</a>
<br />
<br />
        </p>
<p>
    {{iu2}}<strong>user#02</strong><br />
    {{iu3}}<strong>87615776</strong><br />
    <a href="usertest1" class="btn btn-primary btn-large">{{iu4}} &raquo;</a>
    <br />
    <br />
</p>

        {% endblock %}
